{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block body %}
    <style>
        .video-thumb {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            width: 200px;
        }

        .video-thumb a:link {
            text-decoration: none;
        }
    </style>

    <div class="container mt-3">
        <div class="row">
            {% for video in videos %}
                <div class="col">
                    <div class="video-thumb mb-3">
                        <a href="{{ path('video_watch', {video_hash: video.hash}) }}" class="text-dark">
                        <img width="200px" src="{{ asset( ['uploads/thumbs/', video.hash, '.jpg']|join ) }}"> <br>
                        {{ video.title|slice(0, 55) }}{% if video.title|length > 55 %}...{% endif %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
