{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    </style>

    <div class="example-wrapper">
        <h1> Welcome! </h1>
        <div id="sampleText"> 


            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in maximus diam. In hac habitasse platea dictumst. Mauris dapibus risus magna, ut mattis enim maximus porta. Sed lobortis venenatis orci eget accumsan. Donec imperdiet fringilla tincidunt. Integer libero nulla, lacinia eu enim non, maximus tristique mauris. Curabitur nec gravida lacus. Aenean nec sagittis urna. Quisque euismod velit et purus semper, sit amet ornare ex dapibus. Fusce ut blandit nisi, sed sagittis lorem.

            Suspendisse hendrerit, orci non luctus feugiat, erat nibh blandit lectus, sollicitudin egestas massa purus a erat. Nullam efficitur vestibulum porta. Nam a enim molestie, blandit eros ac, luctus quam. Phasellus condimentum ullamcorper porttitor. Ut sit amet placerat nunc. Pellentesque porttitor libero vel est fringilla iaculis. Vestibulum dignissim rhoncus purus, a facilisis ligula tristique a. Proin malesuada placerat aliquam. Etiam neque leo, pharetra semper eleifend ac, sollicitudin eget arcu.

            Etiam vel urna a orci pulvinar fringilla eu et lacus. In hac habitasse platea dictumst. Vivamus mollis velit quis tincidunt pellentesque. Aliquam sodales, urna sed elementum maximus, ligula odio viverra enim, sed venenatis elit leo maximus nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec porta viverra lorem, at interdum nulla hendrerit eu. Quisque dignissim malesuada leo, sed dictum urna efficitur in. Fusce felis dolor, rhoncus vel consectetur vitae, volutpat quis ipsum. Mauris consequat, nisl id tincidunt malesuada, tortor lacus fringilla velit, vel tristique velit sapien et nisi. Donec sagittis vestibulum magna sit amet mollis. Maecenas eu velit eget nisi dignissim molestie. Cras finibus justo sapien, sed rutrum arcu tincidunt a. Curabitur nunc urna, tristique eu dui lobortis, varius porttitor lacus.

            Curabitur vel metus at nibh ultrices eleifend. Curabitur ut felis vitae urna mattis venenatis. Etiam tellus orci, congue et porttitor ac, lobortis faucibus est. Morbi viverra, ante a malesuada consectetur, leo velit blandit magna, sit amet euismod risus libero eget massa. Phasellus mollis velit ante. Ut ut felis at nunc rutrum euismod. Duis interdum eros ut ante congue placerat. Maecenas vitae eleifend velit. Donec vehicula pretium tristique. In hac habitasse platea dictumst. Nullam vehicula, justo quis luctus finibus, lectus augue rutrum lectus, non congue dolor lacus nec nulla. Vivamus commodo fringilla velit ac blandit. Ut id laoreet dui, ac rutrum nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec malesuada gravida finibus.

            Phasellus vitae ligula turpis. Praesent feugiat sollicitudin lectus eget porttitor. Nulla elit magna, maximus id facilisis nec, semper in nisl. Pellentesque vel ullamcorper orci. Maecenas vitae lorem convallis felis pulvinar malesuada. Cras consequat dui ex, id fringilla mauris fermentum ac. Integer est diam, venenatis nec orci ac, lobortis pharetra erat. Sed accumsan diam ut ultrices lacinia. Nam fringilla magna sed felis porta pellentesque. Quisque eu eros hendrerit, ornare massa a, euismod dolor. Aenean ex orci, mollis vitae vestibulum eu, condimentum sed massa. 

        </div>


    </div>
{% endblock %}
