{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block fonts %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
{% endblock %}

{% block body %}
    <style>
        .video-thumb {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            width: 200px;
        }

        .video-thumb a:link {
            text-decoration: none;
        }
    </style>

    <div class="container mt-3">
        <div class="row">
            {% for video in videos %}
                <div class="col">
                   {{ include('video/_playlist_card.html.twig', {'video':video}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
