<div class="video-thumb mb-3">
    <img width="200px" src="{{ asset( [uploads_dir, '/advertisements/', ad.content, '.jpg']|join ) }}" alt="ad-content"> <br>
    {% if app.user is same as(ad.user) %}
        {% if ad.isPaidOff is not same as(true) %}
            <a class="text-dark bootbox-confirm-button"
               data-title="Reklama nie będzie wyświetlana dopóki nie zostanie opłacona. Pobrać środki z portfela? {{ getenv('ADVERTISEMENT_FIXED_PRICE')/100 }}zł"
               href="{{ path('app_advertisement_pay', {'id': ad.id}) }}">
                <i class="fas fa-dollar-sign text-success"
                   data-toggle="tooltip"
                   data-placement="top"
                  title="Opłać reklamę"
                ></i>
            </a>
        {% endif %}
        <a style="float:right" href="{{ path('app_advertisement_remove', {'id':ad.id}) }}">
            <i class="fas fa-times text-danger"
               data-toggle="tooltip"
               data-placement="top"
               title="Usuń reklamę"></i>
        </a>
    {% endif %}
</div>