#navbarSearchForm input[type=search] {
    border-radius: 0;
}

.form-container {
    width: 500px;
    margin: auto;
}

.home-avatar {
    width: 50px;
    height: 50px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}