{#{{ comment }}#}
{#{{ video }}#}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="jumbotron bg-white overflow-hidden py-2 px-0 m-0 mb-2">
        <div class="comment d-flex container p-0">
            <div class="user-card m-0 mt-3 container text-center pt-3">
                <div class="avatar container rounded-circle bg-dark"></div>
                <a href="#" class="com-author text-dark">{{ app.user.username }}</a>
            </div>
            <div class="container p-0 m-0">
                <div class="content">
                    <form action="{{ path('add_comment', {video_hash: video.hash}) }}" method="POST"
                          class="container">
                        <label for="newcomment" class="com-author pb-0 mb-1">New comment:</label>
                        <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                        <div class="d-flex justify-content-end">
                            <button class="btn" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}