<div class="card" style="width: 18rem;">
    <div class="card-img-top">
        {% for video in playlist.videos %}
            {{ include('video/_video_card.html.twig', {'video':video}) }}
        {% endfor %}
    </div>
    <div class="card-body">
        <p class="card-text">
            <a href="{{ path('app_playlist',{'id':playlist.id}) }}">
                {{ playlist.title }}
            </a>
        </p>
    </div>
</div>