{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.amount) }}
        <button class="btn btn-success" type="submit">Doładuj konto</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
