{% extends 'base.html.twig' %}

{% block title %}Hello ChannelController!{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ channel.name }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>Filmy</h3>
            </div>
            <div class="col">
                <h3>Playlisty</h3>
            </div>
        </div>

    </div>
{% endblock %}
